<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Example 404 Page - Google Chrome Style</title>

</head>

<body>
  <div class="error404">


    <h1>ERORR: <%= error.stack %>
    </h1>




  </div>
</body>

</html>